{% extends "base.html" %}
{% block content %}
<h1>Hi, {{g.user.nickname}}!</h1>
<form action="/index" method="POST">
    {{ form.hidden_tag() }}
    {{ form.body.label }} {{ form.body(size=30, maxlength=140) }}<br><br>
    <input type="submit" value="Add Joke">
</form>
{% for post in posts %}
<div>
    <p>
        {% if post.author.nickname==g.user.nickname %}
        <p>{{post.timestamp.strftime("%Y-%m-%d %H:%M:%S")}} | You said: <b>{{post.body}}</b></p>
        {% else %}
        {{post.timestamp.strftime("%Y-%m-%d %H:%M:%S")}} {{post.author.nickname}} says: <b>{{post.body}}</b>
        {% endif %}
    </p>
</div>

{% endfor %}
{% endblock %}
